<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BenryPPT.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BenryPPT.Settings>
            <setting name="targetFontForUnifyFonts" serializeAs="String">
                <value />
            </setting>
            <setting name="targetFontFarEastForUnifyFonts" serializeAs="String">
                <value />
            </setting>
            <setting name="multipleDoFontUnify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="multipleDoZenkakuToHankaku" serializeAs="String">
                <value>False</value>
            </setting>
        </BenryPPT.Settings>
    </userSettings>
</configuration>